body {
  background: #5cA2c6;
  height: 100vh;
  display: grid;
  place-item: center;
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  position: relative;
}

/* head shape/size */
.head {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 10px solid black;
  background: white;
  position: relative;
  justify-content: center;
  display: flex;
  align-items: baseline;
}

 /* head shadow */
.head::before {
  content: "";
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  box-shadow: inset -22px 5px 0 3px rgba(0,0,0,.2)
  
} 

/* neck */
.head::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 30px;
  background: white;
  margin-top: 300px;
  border: 10px solid black;
}

/* sunglasses */
.lens {
  background: black;
  border: 15px solid #424242;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}


.left {
  left: 165px;
  position: absolute;
}

.right {
  right: 165px;
  position: absolute;
}

.bridge {
  position: absolute;
  height: 20px;
  width: 50px;
  background: #424242;
  top: 90px;
}

.mouth {
  width: 180px;
  height: 180px;
  position: absolute;
  border: 10px solid black;
  border-radius: 50%;
  align-self: center;
  margin-top: 1rem;
  clip-path: circle(50% at 49% 100%); 
}

.body {
  position: absolute;
  height: 50px;
  width: 100px;
  background: rgb(0,140,255);
  top: 345px;
  border: 10px solid black;
  border-radius: 100% 100% 100% 100% / 100% 100% 0% 0%;
}

.body::before, .body::after {
  position: absolute;
  content: "";
  width: 15px;
  height: 20px;
  top: 30px;
}

.body::before {
  border-right: 10px solid black;
}

.body::after {
  border-left: 10px solid black;
  right: 0;
}

/* my codepen here: https://codepen.io/ayninur/pen/MWeMRBy */