body {
  background: linear-gradient( to bottom right,#2193b0 30%, #6dd5ed);
  height: 100vh;
  display: grid;
  place-items: center;
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  position: relative;
}

.head {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 10px solid black;
  background: white;
  position: relative;
  justify-content: center;
  display: flex;
  align-items: baseline;
}

.head::before {
  content: "";
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  box-shadow: inset -22px 5px 0 3px rgba(0,0,0,.2)
} 

.head::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 30px;
  background: white;
  margin-top: 300px;
  border: 10px solid black;
}

.lens {
  background: black;
  border: 10px solid #424242;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left {
  margin-left: -180px;
}

.right {
  margin-left: 180px;
}

.bridge {
  position: absolute;
  top: 29%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 10px;
  width: 5%;
  background-color: #424242;
}

.mouth {
  width: 180px;
  height: 180px;
  position: absolute;
  border: 10px solid black;
  border-radius: 50%;
  align-self: center;
  clip-path: circle(45% at 49% 100%);
}

.body {
  position: absolute;
  height: 70px;
  width: 100px;
  background: blue;
  top: 350px;
  border-radius: 100% 100% 100% 100% / 100% 100% 0% 0%;
  border: 10px solid black;
}